<!DOCTYPE html>
<html lang="ko">

<html>

	<head>
		<title > Success Page </title>
		<meta charset="utf-8" />
		<style type="text/css">
			#header{
				margin: 20px;
				padding: 20px;
				border: 1px solid #828282;
			}
			#section{
				margin: 20px 20px 20px 20px;
				padding: 20px;
				border: 1px solid #828282;
			}
			#footer{
				clear: both;
				margin: 20px;
				padding: 20px;
				border: 1px solid #828282;
			}
		</style>
	</head>

	<body>
		<div id="header">
			<h2 align="center"> Category Settings Have Been Completed </h2>
			<hr style="border: solid 2px black;">
		</div>
	</body>
</html>

