<!DOCTYPE html>
<html lang="ko">

<html>

	<head>
		<title > OTTO2019 Test Main Page </title>
		<meta charset="utf-8" />
		<style type="text/css">
			#header{
				margin: 20px;
				padding: 20px;
				border: 1px solid #828282;
			}
			#aside_left{
				margin: 0px auto 20px 20px;
				padding: 20px;
				width: 20%;
				float: left;
				border: 1px solid #828282;
			}
			#section{
				margin: 0px 20px 20px auto;
				padding: 20px;
				width: 60%;
				float: right;
				border: 1px solid #828282;
			}
			#footer{
				clear: both;
				margin: 20px;
				padding: 20px;
				border: 1px solid #828282;
			}
		</style>
	</head>

	<body>
		<div id="header">
			<h2 align="center"> OTTO2019 Test Main Page  </h2>
			<hr style="border: solid 2px black;">
		</div>

		<div id="aside_left">
			<h2>aside_left</h2>
			<ul>
				<li>link1</li>
				<li>link2</li>
				<li>link3</li>
				<li>link4</li>
			</ul>
		</div>
		
		<div id="section">
			<h2>section</h2>
			<h3>article</h3>
			<p> OTTO2019 Jarvis Test Page :D </p>
			<p> OTTO2019 Jarvis Test Page :D </p>
		</div>
		
		<div id ="footer">
			<b>footer</b>
			<audio src='/static/some.mp3' preload="" controls autoplay="" loop>
				브라우저가 오디오를 지원하지 않습니다.
			</audio>
		</div>
	</body>
</html>

